<%- include("template/header", {titulo : 'Instrucciones'}); %>

    <div class="centered">
        <iframe class="comments" src="https://docs.google.com/forms/d/e/1FAIpQLSd-1tFI1J8mHrhAK2hkj14nJVFO5zk6TyQxs1tG6r8turpytg/viewform?embedded=true">Cargando…</iframe>
    </div>
<%- include("template/footer"); %>